@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


 .quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


 .raleway{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* main{
    align-items: center;
    margin: 0px auto;
  } */

  /* Shared style */

  .card-title{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .section-title{
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
    margin: 60px auto;
    
  }

  .card-description{
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
  }

  /* buttons style */

  .btn-orange{
    background-color: orange;
    padding: 10px 60px;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
  }
 
  .btn-black{
    background-color: black;
    padding: 10px 55px;
    border-radius: 12px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .btn-circle{
    background-color: orange;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1.9rem;
    font-weight: 800;
    width: 60px;
    height: 60px;
    border: none; 
  }

  /* front color ans size*/
  .fn-clr-orange{
    color: rgba(254, 163, 1, 1);
  }
  .fn-clr-skyblue{
    color: rgba(1, 172, 253, 1);
  }
  .fn-clr-lavender{
    color: #5D58EF;
  }
  .fn-clr-4{
    color: #05D4DF;
  }

  

  /* navbar related style */

  .flex{
    display: flex;
  }

  .nav-link{
    text-decoration: none;
  }

  .navbar{
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
  }

  .nav-item{
    margin-right: 32px;
    list-style: none;
  }

  .school{
    font-size: 2rem;
    font-weight: 700;
    padding-left: 11px;
  }

  /* banner related style */

  .banner{
    width: 1440px;
    align-items: center;
    margin: 0px auto;
    gap: 350px;
  }

  .main-title{
    font-size: 3.5rem;
    font-weight: 700;
  }
  .banner-description{
    font-size: 1.25rem;
    font-weight: 400;
  }

  /* main section style */

  /* card related style */

  .school-info{
    /* width: 1440px; */
    /* height: 850px; */
    /* padding: 50px; */
    margin: 10px auto;
    background-image: url(../assets/bg.png);
  }
  .card-common{
    text-align: center;
    width: 366px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    width: 1160px;
    margin-left: 400px;
    
  }

  .card-blue{
    background-image: linear-gradient(#DEF5FF 1%,#FFFFFF);
  }
  .card-gray{
    background-image: linear-gradient(#FFF4DC 1%,#FFFFFF); 
  }
  .card-purple{
    background-image: linear-gradient(#F2E8FF 1%,#FFFFFF); 
  }

  .read-blue{
    color: rgba(100, 200, 255, 1);
    font-size: 15px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .read-gray{
    color: rgba(240, 170, 0, 1);
    font-size: 15px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .read-purple{
    color: rgba(135, 0, 255, 1);
    font-size: 15px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .next-btn{
    display: flex;
    justify-content: center;
    margin-top: 80px ;
    gap: 10px;
  }



/* stories related style */

  .stories{
    background-image: linear-gradient(to top, rgba(254, 163, 1, 0.3),#FFFFFF),
    url(../assets/bg.png);
    /* width: 1440px;
    height: 1020px; */
    
  }

  .pic-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 540px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: white;
  }

  .pic-card-small{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* width: 290px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: white;
  }

  .badge-blue{
    background-color: #3CD8E8;
    width: 175px;
    height: 45px;
    border-radius: 47px;
    text-align: center;
    padding-top: 20px ;
    color: white;
    margin-left: 38px;
    margin-top: -60px;
  }

  .badge-purple{
    background-color: #5D58F0;
    width: 175px;
    height: 30px;
    border-radius: 47px;
    text-align: center;
    padding-top: 10px ;
    color: white;
    margin-left: 50px;
    margin-top: -25px;
  }

  

  .badge-green{
    background-color: #95B226;
    width: 175px;
    height: 30px;
    border-radius: 47px;
    text-align: center;
    padding-top: 10px ;
    color: white;
    margin-left: 50px;
    margin-top: -25px;
    
  }

  .story-card-title{
    font-size: 24px;
    font-weight: 700;
    padding-left: 38px;
    margin-bottom: 10px;
  }

  .card-description{
    padding-left: 38px;
  }

  .small-card-title{
    font-size: 1rem;
    font-weight: 700;
    padding: 20PX 8px 28px 38px;
  }

  .story-img{
    border-radius: 16px 16px  0px 0px;
  }

  .story-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .small-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }

  .view{
    margin: 80px 0px 0px 950px;
  }


  /* footer section style */

  .footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content: space-around; */
    background-color: #01ACFD;
    color: white;
    padding: 120px;
    gap: 178px;
    
  }
  .footer-logo{
    width: 250px;
    height: 100px; 
  }

  .kid-school{
    font-weight: 700;
    font-size: 42px;
    margin-top: 0px;
  }
  .footer-description{
    font-size: 20px;
    font-weight: 400;
    
  }
  .about{
    font-size: 24px;
    font-weight: 700;
  }
  .hafa{
    font-size: 20px;
    font-weight: 500;
  }
  .keep{
    font-size: 26px;
    font-weight: 700;
  }

  /* responsive */

  @media screen and (max-width:576px) {
    .nav-link, 
    .btn-orange, 
    .pic-card,
    .next-btn,
    .school {
        display: none;
    }
    

    .navbar{
      border-bottom: 1px solid orange;
      <i class="fa-solid fa-bars"></i>
    }


    .banner{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        width: 100%; 
        padding-left: 15px;
        gap: 20px;
    }

    .banner img{
      max-width: 576px;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-left: 50px;
        gap: 20px;
        width: 100%;
    }

    .school-info{
        width: 100%;
    }
    .small-cards {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        max-width: 100%;
        align-items: center;
    }

    .view{
      margin: 80px 170px 0px;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 30px;
        color: white;
        margin-top: 0px;
        gap: 30px;
    }

    .footer-description{
      font-size: 18px;
    }
    .about{
      font-size: 25px;
      font-weight: 600;
    }
    .hafa{
      font-size: 20px;
      font-weight: 500;
    }
    .keep{
      font-size: 26px;
      font-weight: 700;
    }

    
    

}